/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Google Sans', sans-serif;
    font-size: 1.5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.container {
    width: 100%;
    padding: 16px;
    text-align: center; 
}

button {
    background-color: #007BFF;
    width: 80%;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    padding: 32px;
    margin: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

#result > div {
    margin: 20px 0;
    text-align: left;
}

.right-align {
    text-align: right;
}

.chart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .logo {
    height: 48px;
    margin: 16px;
}

.navbar {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2px;
    width: 100%;
}

.result-numbers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
}

#links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

/* .youtube-container {
    width: 100%;
} */

iframe {
    border: none;
    margin: 8px;
    width: 320px;
    height: 180px;
}

.link {
    display: flex;
    color: #007BFF;
    text-decoration: none;
    margin: 8px;
}

a {
    color: #007BFF;
    text-align: center;
}

hr {
    border-top: 1px solid #ccc;
    margin: 4px;
    width: 100%;
}

.invisible {
    display: none;
}

.visible {
    display: block;
}


.splash-screen-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.arc.yellow {
    stroke-dasharray: 84 84;
    stroke-dashoffset: 84;
    animation: draw-yellow 4134ms cubic-bezier(0.60, 0.00, 0.80, 1.00) 0s both infinite;
}

.arc.green {
    stroke-dasharray: 40 40;
    stroke-dashoffset: 40;
    animation: draw-green 4134ms cubic-bezier( 0.70, 0.00, 0.70, 1.00) 0s both infinite;
}

.arc.blue {
    stroke-dasharray: 111 111;
    stroke-dashoffset: 111;
    animation: draw-blue 4134ms cubic-bezier(0.10, 0.00, 0.30, 1.00) 0s both infinite;
}

.arc.red {
    stroke-dasharray: 71 71;
    stroke-dashoffset: 71;
    animation: draw-red 4134ms cubic-bezier(0.00, 0.00, 0.20, 1.00) 0s both infinite;
}

@keyframes draw-yellow {
    0% {
        stroke-dashoffset: 84;
    }

    11.29%, 65.33% {
        stroke-dashoffset: 0;
    }

    76.62%, 100% {
        stroke-dashoffset: -84;
    }
}

@keyframes draw-green {
    0%, 10.48% {
        stroke-dashoffset: 40;
    }

    12.1%, 75.81% {
        stroke-dashoffset: 0;
    }

    77.43%, 100% {
        stroke-dashoffset: -40;
    }
}

@keyframes draw-blue {
    0%, 11.29% {
        stroke-dashoffset: 111;
    }

    16.13%, 76.62% {
        stroke-dashoffset: 0;
    }

    81.46%, 100% {
        stroke-dashoffset: -111;
    }
}

@keyframes draw-red {
    0%, 15.32% {
        stroke-dashoffset: 71;
    }

    29.03%, 80.65% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: -71;
    }
}